data/language.dtd

<!ENTITY language (highlighting, general)>
<!ATTLIST language
  name CDATA #REQUIRED
  section CDATA #REQUIRED
  extensions CDATA #REQUIRED
  mimetype CDATA #REQUIRED
>

<!ENTITY general (comments, keywords)>
<!ATTLIST general
>

<!ENTITY comments (comment)>
<!ATTLIST comments
>

<!ENTITY comment EMPTY>
<!ATTLIST comment
  name CDATA #REQUIRED
  start CDATA #REQUIRED
  end CDATA #IMPLIED
>

<!ENTITY keywords EMPTY>
<!ATTLIST keywords
  casesensitive CDATA #IMPLIED
  weakDeliminator CDATA #IMPLIED
>

<!ENTITY highlighting (list, contexts, itemDatas)>
<!ATTLIST highlighting
>

<!ENTITY list (item)>
<!ATTLIST list
  name CDATA #REQUIRED
>

<!ENTITY item (#PCDATA)>
<!ATTLIST item
>

<!ENTITY contexts (context)>
<!ATTLIST contexts
>

<!ENTITY context (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST context
  attribute CDATA #REQUIRED
  lineEndContext CDATA #REQUIRED
  name CDATA #IMPLIED
>

<!ENTITY keyword (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST keyword
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  String CDATA #REQUIRED
>

<!ENTITY Float (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST Float
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
>

<!ENTITY HlCOct (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST HlCOct
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
>

<!ENTITY HlCHex (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST HlCHex
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
>

<!ENTITY Int (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST Int
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
>

<!ENTITY DetectChar (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST DetectChar
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  char CDATA #REQUIRED
>

<!ENTITY Detect2Chars (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST Detect2Chars
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  char CDATA #REQUIRED
  char1 CDATA #REQUIRED
>

<!ENTITY AnyChar (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST AnyChar
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  String CDATA #REQUIRED
>

<!ENTITY StringDetect (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST StringDetect
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  String CDATA #REQUIRED
  insensitive CDATA #REQUIRED
>

<!ENTITY RegExpr (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST RegExpr
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  String CDATA #REQUIRED
>

<!ENTITY LineContinue (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST LineContinue
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
>

<!ENTITY HlCStringChar (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST HlCStringChar
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
>

<!ENTITY RangeDetect (keyword, Float, HlCOct, HlCHex, Int, DetectChar, Detect2Chars, AnyChar, StringDetect, RegExpr, LineContinue, HlCStringChar, RangeDetect)>
<!ATTLIST RangeDetect
  attribute CDATA #REQUIRED
  context CDATA #REQUIRED
  char CDATA #REQUIRED
  char1 CDATA #REQUIRED
>

<!ENTITY itemDatas (itemData)>
<!ATTLIST itemDatas
>

<!ENTITY itemData EMPTY>
<!ATTLIST itemData
  name CDATA #REQUIRED
  defStyleNum CDATA #REQUIRED
>
