data/language.dtd

<!ENTITY language (highlighting, general)>
<!ATTLIST language
  name CDATA #REQUIRED
  section CDATA #REQUIRED
  extensions CDATA #REQUIRED
  mimetype CDATA #REQUIRED
>

<!ENTITY general (comments, keywords)>
<!ATTLIST general
>

<!ENTITY comments (comment)>
<!ATTLIST comments
>

<!ENTITY comment (#PCDATA)>
<!ATTLIST comment
  name CDATA #REQUIRED
  start CDATA #REQUIRED
  end CDATA #IMPLIED
>

<!ENTITY keywords EMPTY>
<!ATTLIST keywords
  casesensitive CDATA #IMPLIED
  weakDeliminator CDATA #IMPLIED
>

<!ENTITY highlighting (list, contexts, itemDatas)>
<!ATTLIST highlighting
>
